<!--
Copyright Nate Sutton 2013
Version 1.0
This web application is designed to allow users to customize the layout of a series of numbers
that is generated.  Users can set the column minimum height and maximum column number through
the input fields on the left of the page.  Pressing the “Start/Stop Counter” toggles the number
series generation.

References:
http://stackoverflow.com/questions/121817/replace-text-inside-a-div-element
http://stackoverflow.com/questions/8664995/delay-each-iteration-of-loop-by-a-certain-time
http://stackoverflow.com/questions/5146805/an-iframe-i-need-to-refresh-every-30-seconds-but-not-the-whole-page
http://stackoverflow.com/questions/10328210/javascriptdiv-appendchild
http://stackoverflow.com/questions/14680314/css-how-to-make-a-list-wrap-vertically
http://www.webdeveloper.com/forum/showthread.php?173631-Set-DIV-height-with-JavaScript
http://stackoverflow.com/questions/9916936/css-vertical-align-middle
-->

<body bgcolor="F5FAFF">
	<div style="position:absolute;width:100%;text-align:center;">
		<h1>Number Series Layout Customization</h1>
	</div>
	<div id="NumberSeriesContainer"></div>
	<div style="position:absolute;left:65px;top:120px;">
		<div class="FloatingRectangleContentContainer">
			This web application generates a series of numbers when the "Start/Stop Counter" button is
			pressed.  The shape that the series of numbers forms can be customized by entering in numbers
			in the text boxes below, at any point when the counter is running a change in the number
			parameters will adjust the shape.  Refresh this page to reset the number series.
		</div>
		<br>
		<br>
		<div class="FloatingRectangleContentContainer">
			Minimum Column Height:
			<br>
			<input type="text" id="MinimumColumnHeight" value="3" class="TextInputBox">
			<br>
			Maximum Column Number:
			<br>
			<input type="text" id="MaximumNumberOfColumns" value="3" class="TextInputBox">
			<br>
			<br>
			<a href="javascript:NumberSeriesGenerationToggole()" class="UpdateLayoutButton">Start/Stop Counter</a>
		</div>
		<br>
		<br>
		<div class="FloatingRectangleContentContainer">
			<a href="http://github.com/nmsutton/ColumnLayoutCustomizer"> <img src="http://imageshack.us/scaled/large/38/githublink2.jpg" style=""></a>
		</div>
	</div>
</body>
