<html>
<!-- 
Site version 0.1

References:
http://stackoverflow.com/questions/121817/replace-text-inside-a-div-element
http://stackoverflow.com/questions/8664995/delay-each-iteration-of-loop-by-a-certain-time
http://stackoverflow.com/questions/5146805/an-iframe-i-need-to-refresh-every-30-seconds-but-not-the-whole-page
http://stackoverflow.com/questions/10328210/javascriptdiv-appendchild
http://stackoverflow.com/questions/14680314/css-how-to-make-a-list-wrap-vertically
http://www.webdeveloper.com/forum/showthread.php?173631-Set-DIV-height-with-JavaScript
-->
<head>
<style type="text/css">
.CounterDigits { clear: left; position: relative; margin: 0; width:20px; padding: 0; background-color:red; height:20px;}
</style>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>
/* JavaScript was chosen for the counter because of its asyncronous page updating capabilities */
ActivateCounterSwitch = false;
Counter=0;
function test5() {
if (ActivateCounterSwitch == true) {ActivateCounterSwitch = false}
else if (ActivateCounterSwitch == false) {ActivateCounterSwitch = true}
}
window.setInterval("IncreaseItemsList()", 100);

function IncreaseItemsList() {
if (ActivateCounterSwitch == true) {
var MinimumColumnHeightUserInput = $('input#MinimumColumnHeight').val();
var MaximumNumberOfColumnsUserInput = $('input#MaximumNumberOfColumns').val();
Counter++;
var iDiv = document.createElement('div');
iDiv.innerHTML=Counter;
iDiv.className='CounterDigits';
document.getElementById('container').appendChild(iDiv);

if ((Counter%MinimumColumnHeightUserInput==0)&(Counter<=(MinimumColumnHeightUserInput*MaximumNumberOfColumnsUserInput))) {
$('div#container').css({height:(MinimumColumnHeightUserInput*20)+'px'});
}
else if ((Counter%(Math.floor(Counter/MinimumColumnHeightUserInput))==0)&(Counter<(MinimumColumnHeightUserInput*MaximumNumberOfColumnsUserInput))) {
$('div#container').css({height:($('div#container').height()+20)+'px'});
}
else if (Counter>(MinimumColumnHeightUserInput*MaximumNumberOfColumnsUserInput)) {
$('div#container').css({height:((MinimumColumnHeightUserInput*20)+((Math.floor((Counter-(MinimumColumnHeightUserInput*MaximumNumberOfColumnsUserInput))/MaximumNumberOfColumnsUserInput)+1)*20))+'px'});
}

}
}
</script>
</head>
<body>
<h1>Hello, Rails!</h1>
Column Height:<input type="text" id="MinimumColumnHeight" value="3">
<br>Number of Columns:<input type="text" id="MaximumNumberOfColumns" value="3">
<br><a href="javascript:test5()">Run Counter</a>
<div id="container" style="max-width:300px;background-color:#b0c4de;
    height: 60px;
    column-fill: balance;
    column-width: 100px;
    column-height: 40px;
    column-gap: 0px;
    -moz-column-fill: balance;
    -moz-column-width: 100px;
    -moz-column-height: 40px;
    -moz-column-gap: 0px;
    -webkit-column-fill: balance;
    -webkit-column-width: 100px;
    -webkit-column-height: 40px;
    -webkit-column-gap: 0px;

	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;"></div>
</body>
