.CounterDigits {
	position: relative;
	margin: 0;
	width: 70px;
	padding: 0;
	height: 50px;
	font-size: 150%;
	display: block;
	vertical-align:middle;
	line-height:50px;
	text-align:center;
	background-color: #006B09;
	background-image: url(/assets/rectangle.png)
}

.FloatingRectangleContentContainer {
	color: #08233e;
	width: 230px;
	font-family: Futura, 'Century Gothic', AppleGothic, sans-serif;
	font-size: 120%;
	padding: 14px;
	background: #ffcc00;
	background-color: #EBFCEC;
	border: 1px solid #00990D;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border-bottom: 1px solid #006B09;
	text-align:center;
}

.UpdateLayoutButton {
	font-size: 110%;
	border: 1px solid #8FA9FF;
	padding: 3px;
	text-decoration: none;
	background-color: #EBEBEB;
	background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#D6D6D6));
	color: #08233e;
}

.TextInputBox {
	color: #08233e;
	font-size: 105%;
	width: 200px;
	text-align: center;
	background-color: #F5FAFF;
}

#NumberSeriesContainer {
	position: relative;
	left: 380px;
	top: 100px;
	width: 150px;
	height: 60px;
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	column-fill: auto;
	-moz-column-fill: auto;
	-webkit-column-fill: auto;
}
